body {
  margin: 0 0;
  padding: 0 0;
  height: 100vh;
}

.h2 {
  display: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /* Style the buttons that are used to open the tab content */
  /* Style the tab content */
}

.tab .active {
  background-color: #ccc;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button:active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-content input {
  min-width: 117px;
  margin-left: calc(100% - (117px + 1px));
  margin-bottom: 10px;
}

.tab-content textarea {
  resize: none;
  margin-top: 0px;
}

.tab-content .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2px;
  width: 100%;
  height: 131px;
  overflow-x: auto;
  overflow-y: hidden;
}

.tab-content .sizes .sizeForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
}

.tab-content .sizes .sizeForm-value {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #ccc;
}

.tab-content .sizes .sizeForm-value p {
  margin: 0;
  top: 50%;
}

.tab-content .sizes .sizeForm-newValue {
  width: 70px;
  height: 64px;
}

.tab-content .sizes .sizeForm input {
  max-width: 80px !important;
  min-width: 70px !important;
  margin: 0;
}

.tab-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
  width: 100%;
}

.tab-content .wrapper span {
  min-width: 119px;
}

.tab-content .wrapper-title {
  width: 100%;
}

.tab-content .wrapper-body {
  resize: vertical !important;
  width: 100%;
}

.tab-content .wrapper-price {
  width: 100%;
}

.tab-content .fileInputWrapper {
  overflow: hidden;
  width: 118px;
  margin-left: calc(100% - (117px + 1px));
}

.tab-content .fileInputWrapper .custom-file-input {
  color: transparent;
}

.tab-output {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-output input {
  min-width: 117px;
  margin-left: calc(100% - (117px + 1px));
  margin-bottom: 10px;
}

.tab-output .entry-wrapper {
  margin-top: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 60px;
  border-top: 1px solid #555;
}

.tab-output .entry-wrapper:first-of-type {
  margin-top: 0px;
}

.tab-output textarea {
  resize: none;
  margin-top: 0px;
}

.tab-output .wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
  width: calc(100% - 128px);
  margin-right: 6px;
}

.tab-output .wrapper span {
  min-width: 119px;
}

.tab-output .wrapper-title {
  width: 100%;
}

.tab-output .wrapper-body {
  resize: vertical !important;
  width: 100%;
}

.tab-output .wrapper-price {
  width: 100%;
}

.tab-output .radioWrapper {
  height: 100px;
  width: 117px;
  display: block;
  margin-top: -69px;
  position: absolute;
  margin-top: -117px;
  margin-left: calc(100% - 144px);
}

.tab-output .radioWrapper p input {
  display: inline-block !important;
  width: 13px !important;
  min-width: auto;
  margin: 0;
  margin-left: 12px;
}

.tab-output .fileInputWrapper {
  overflow: hidden;
  width: 118px;
  margin-left: calc(100% - (117px + 1px));
}

.tab-output .fileInputWrapper .custom-file-input {
  color: transparent;
}

.tab-output .imageWrapper {
  width: calc(100% - 156px);
  height: calc(83px + 21px);
  outline: springgreen;
  outline-style: solid;
  position: absolute;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: auto;
}

.tab-output .imageWrapper-container {
  height: 83px;
  width: auto;
}

.tab-output .imageWrapper-container .deleteOnePictureForm {
  height: 100%;
  width: 100%;
}

.tab-output .imageWrapper-container .deleteOnePictureForm img {
  height: 83px;
  width: auto;
}

.tab-output .imageWrapper-container .deleteOnePictureForm .X-button {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: transparent;
  color: red;
  border-style: none;
  outline-style: none;
  margin: 0;
  padding: 0;
  margin-left: -15px;
}

.tab-output .imageWrapper-container .deleteOnePictureForm .X-submit {
  display: none;
}

.tab-output .imageWrapper .add-new-images {
  height: calc(83px - 6px);
  min-width: 77px;
  border: 3px;
  border-style: dashed;
  border-color: #000;
}

.tab-output .imageWrapper .add-new-images .insertImageForm {
  height: 100%;
  width: 100%;
}

.tab-output .imageWrapper .add-new-images .insertImageForm .insertImage-button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.tab-output .imageWrapper .add-new-images .insertImageForm .insertImage-button p {
  line-height: 77px;
  font-size: 30px;
  font-weight: 1000;
  margin: 0;
  text-align: center;
}

.tab-output .imageWrapper .add-new-images .insertImageForm .insertImage-submit {
  display: none;
}

.tab-output .imageWrapper .add-new-images .insertImageForm .custom-file-input {
  display: none;
}

.tab-output .clientsGridWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(286px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px 20px;
}

.tab-output .clientsGridWrapper .client {
  padding: 10px;
  outline: 1px dashed;
}

.tab-output .clientsGridWrapper .client div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(77px, 1fr) minmax(189px, 2fr);
      grid-template-columns: minmax(77px, 1fr) minmax(189px, 2fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 100%;
}

.tab-output .clientsGridWrapper .client-login p {
  display: inline;
}

.tab-output .clientsGridWrapper .client-email p {
  display: inline;
}

.tab-output .clientsGridWrapper .client-role p {
  display: inline;
}

.tab-output .clientsGridWrapper .client-role select {
  display: inline;
}

.tab-output .clientsGridWrapper .client-name p {
  display: inline;
}

.tab-output .clientsGridWrapper .client-surname p {
  display: inline;
}

.tab-output .clientsGridWrapper .client-patronymic p {
  display: inline;
}

.tab-output .clientsGridWrapper .client-discount p {
  display: inline;
}

.tab-output .clientsGridWrapper .client-discount input {
  display: inline;
  margin: 0;
}

.tab-output .clientsGridWrapper .client input {
  margin: 5px 0 0 0;
}

.tab-output .clientsGridWrapper .client #client-update__input {
  margin-top: 10px;
}

.tab-output .clientsGridWrapper .client-delete__button {
  margin-top: 10px;
}

.tab-output .ordersGridWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px 20px;
}

.tab-output .ordersGridWrapper .order {
  padding: 10px;
  outline: 1px dashed;
}

.tab-output .ordersGridWrapper .order input {
  margin: 0;
  display: inline;
}

.tab-output .ordersGridWrapper .order__client-login {
  display: block;
}

.tab-output .ordersGridWrapper .order__client-login p {
  display: inline;
}

.tab-output .ordersGridWrapper .order__client-login p:first-child {
  font-weight: 600;
}

.tab-output .ordersGridWrapper .order__client-discount {
  display: block;
}

.tab-output .ordersGridWrapper .order__client-discount p {
  display: inline;
}

.tab-output .ordersGridWrapper .order__client-discount p:first-child {
  font-weight: 600;
}

.tab-output .ordersGridWrapper .order__totalPrice {
  display: block;
}

.tab-output .ordersGridWrapper .order__totalPrice p {
  display: inline;
}

.tab-output .ordersGridWrapper .order__totalPrice p:first-child {
  font-weight: 600;
}

.tab-output .ordersGridWrapper .order__date {
  display: block;
}

.tab-output .ordersGridWrapper .order__date p {
  display: inline;
}

.tab-output .ordersGridWrapper .order__date p:first-child {
  font-weight: 600;
}

.tab-output .ordersGridWrapper .order__date input {
  display: inline;
  margin: 0;
}

.tab-output .ordersGridWrapper .order__entryes {
  display: block;
}

.tab-output .ordersGridWrapper .order__entryes p {
  display: inline;
}

.tab-output .ordersGridWrapper .order__entryes p:first-child {
  font-weight: 600;
}

.tab-output .ordersGridWrapper .order__entryes-link {
  display: block;
}

.tab-output .ordersGridWrapper .order__entryes-link button {
  margin: 5px 0;
}

.tab-output .ordersGridWrapper .order__track {
  display: block;
}

.tab-output .ordersGridWrapper .order__track p {
  display: inline;
}

.tab-output .ordersGridWrapper .order__track p:first-child {
  font-weight: 600;
}

.tab-output .ticketsGridWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(189px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(189px, 1fr));
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px 20px;
}

.tab-output .ticketsGridWrapper .ticket, .tab-output .ticketsGridWrapper .simple_ticket {
  padding: 10px;
  outline: 1px dashed;
}

.tab-output .ticketsGridWrapper .ticket input, .tab-output .ticketsGridWrapper .simple_ticket input {
  margin: 0;
  display: inline;
}

.tab-output .ticketsGridWrapper .ticket__theme, .tab-output .ticketsGridWrapper .simple_ticket__theme {
  display: block;
  margin: 5px 0;
}

.tab-output .ticketsGridWrapper .ticket__theme p, .tab-output .ticketsGridWrapper .simple_ticket__theme p {
  display: inline;
}

.tab-output .ticketsGridWrapper .ticket__theme p:first-child, .tab-output .ticketsGridWrapper .simple_ticket__theme p:first-child {
  font-weight: 600;
}

.tab-output .ticketsGridWrapper .ticket__body, .tab-output .ticketsGridWrapper .simple_ticket__body {
  display: block;
  margin: 5px 0;
}

.tab-output .ticketsGridWrapper .ticket__body p, .tab-output .ticketsGridWrapper .simple_ticket__body p {
  display: inline;
}

.tab-output .ticketsGridWrapper .ticket__body p:first-child, .tab-output .ticketsGridWrapper .simple_ticket__body p:first-child {
  font-weight: 600;
}

.tab-output .ticketsGridWrapper .ticket__date, .tab-output .ticketsGridWrapper .simple_ticket__date {
  display: block;
  margin: 5px 0;
}

.tab-output .ticketsGridWrapper .ticket__date p, .tab-output .ticketsGridWrapper .simple_ticket__date p {
  display: inline;
}

.tab-output .ticketsGridWrapper .ticket__date p:first-child, .tab-output .ticketsGridWrapper .simple_ticket__date p:first-child {
  font-weight: 600;
}

.tab-output .ticketsGridWrapper .ticket__userFIO, .tab-output .ticketsGridWrapper .simple_ticket__userFIO {
  display: block;
  margin: 5px 0;
}

.tab-output .ticketsGridWrapper .ticket__userFIO p, .tab-output .ticketsGridWrapper .simple_ticket__userFIO p {
  display: inline;
}

.tab-output .ticketsGridWrapper .ticket__userFIO p:first-child, .tab-output .ticketsGridWrapper .simple_ticket__userFIO p:first-child {
  font-weight: 600;
}

.tab-output .ticketsGridWrapper .ticket__name, .tab-output .ticketsGridWrapper .simple_ticket__name {
  display: block;
  margin: 5px 0;
}

.tab-output .ticketsGridWrapper .ticket__name p, .tab-output .ticketsGridWrapper .simple_ticket__name p {
  display: inline;
}

.tab-output .ticketsGridWrapper .ticket__name p:first-child, .tab-output .ticketsGridWrapper .simple_ticket__name p:first-child {
  font-weight: 600;
}

.tab-output .ticketsGridWrapper .ticket__contacts, .tab-output .ticketsGridWrapper .simple_ticket__contacts {
  display: block;
  margin: 5px 0;
}

.tab-output .ticketsGridWrapper .ticket__contacts p, .tab-output .ticketsGridWrapper .simple_ticket__contacts p {
  display: inline;
}

.tab-output .ticketsGridWrapper .ticket__contacts p:first-child, .tab-output .ticketsGridWrapper .simple_ticket__contacts p:first-child {
  font-weight: 600;
}

.tab-output .ticketsGridWrapper .ticket input[type=submit], .tab-output .ticketsGridWrapper .simple_ticket input[type=submit] {
  margin-top: 5px;
}

.tab-output .materialsWrapper .materialForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ddd;
  margin-bottom: 10px;
  height: 21px;
}

.tab-output .materialsWrapper .materialForm input {
  display: inline-block;
  margin: 0;
}

.tab-output .materialsWrapper .materialForm p {
  margin: 0;
}

.tab-output .materialsWrapper .material__value {
  display: inline-block;
}

.tab-output .materialsWrapper .material__delete {
  display: inline-block;
}

.tab-output .materialsWrapper .material__add {
  display: inline-block;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 20px;
  padding: 10px;
}

.card__item {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto 1fr minmax(40px, auto);
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr minmax(40px, auto)/1fr;
}

.card__img {
  position: relative;
  padding: 0 0 100% 0;
  margin: 0 0 10px 0;
}

.card__img .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card__img .img-back {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
  visibility: visible;
}

.card__btn {
  padding: 8px;
  margin-top: 10px;
  max-width: 35%;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

.card__btn a {
  text-decoration: none;
}

.card__item:hover .img {
  -webkit-transition: all .3s;
  transition: all .3s;
  visibility: hidden !important;
}

.card__item:hover .card__btn a {
  color: #000000;
}
/*# sourceMappingURL=admin.css.map */