body {
	margin: 0 0;
	padding: 0 0;
	// overflow: hidden;
}
.h2{
	display: none;
	.ContentH2 {

	}
	.OutputH2 {

	}
}
/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
  
  /* Style the buttons that are used to open the tab content */
  button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;

	&:hover {
	  background-color: #ddd;
	}
	
	&:active {
	  background-color: #ccc;
	}
  }
  
  /* Style the tab content */
   &-content {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	
	input {
		min-width: 117px;
		margin-left: calc(100% - (117px + 1px));
		margin-bottom: 10px;
	}

	&-button {
		
	}

	textarea {
		resize: none;
		margin-top: 0px;

	}
	.wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 10px 0px;
		width: 100%;

		span {
			min-width: 119px;
		}
		&-title {
			// margin-left: 10px;
			width: 100%;
		}
		&-body {
			// margin-left: 10px;
			resize: vertical !important;
			width: 100%;
		}
		&-price {
			// margin-left: 10px;
			width: 100%;
		}
	}
	.fileInputWrapper {
		overflow: hidden;
    	width: 118px;
		margin-left: calc(100% - (117px + 1px));
		.custom-file-input {
			color: transparent;
			// &::-webkit-file-upload-button {
			// 	visibility: hidden;
			// }
		}
	}
  }
  &-output {
	// display: none; СДЕЛАТЬ СКРЫТИЕ ЧЕРЕЗ JS
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	
	input {
		min-width: 117px;
		margin-left: calc(100% - (117px + 1px));
		margin-bottom: 10px;
	}

	&-button {
		
	}

	textarea {
		resize: none;
		margin-top: 0px;

	}
	.wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 10px 0px;
		width: 100%;

		span {
			min-width: 119px;
		}
		&-title {
			// margin-left: 10px;
			width: 100%;
		}
		&-body {
			// margin-left: 10px;
			resize: vertical !important;
			width: 100%;
		}
		&-price {
			// margin-left: 10px;
			width: 100%;
		}
	}
	.fileInputWrapper {
		overflow: hidden;
    	width: 118px;
		margin-left: calc(100% - (117px + 1px));
		.custom-file-input {
			color: transparent;
			// &::-webkit-file-upload-button {
			// 	visibility: hidden;
			// }
		}
	}
	.imageWrapper {
		width: calc(100% - 156px);
		height: 83px;
		outline: springgreen;
		outline-style: solid;
		position: absolute;
		margin-top: -93px;
		display: flex;
		flex-direction: row;
		gap: 2px;

		&-container {
			height: 83px;
			width: auto;
			img {
				height: 83px;
				width: auto;
			}
		}
		.add-new-image {
			all: initial !important; 
			// position: relative;
			height: 83px;
			min-width: 83px;
		}
	}
  }

}