$dark: #22222b;
$light: #faf9fe;
.phone {
	font-size: 15px;
	text-decoration: none;
	color: #000;
	&:hover {
		text-decoration: underline;
		color: blue;
	}
}

// .disappearable {
// 	display: none;
// }

.header {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    &__logo {
        img {
            height: 50px;
            height: 50px;
        }
        display: flex;
        align-items: center;
		&-textWrapper {
			display: flex;
			flex-direction: column;
			min-width: 100px;
			margin-top: 48px;
			white-space: nowrap;
			span {
				margin-bottom: 14px;
			}
		}
		&-phone {
			color: #FFF;
		}
    }
}
._pc .nav-item:hover .nav-sub {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

._touch .nav-item {
    display: flex;
    align-items: center;
    .nav-link {
        margin-right: 5px;
    }
}
._touch ._activ-nav__Mobail .nav-sub {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
._touch ._activ-nav__Mobail .nav-arrow {
   transform: rotate(180deg);
}

._touch .nav-arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent ;
    border-top: 10px solid #22222b;
    margin-top: 3px;
}
.nav-arrow {
    display: none;
    transition: all 0.3s ease 0s;
}
.-lock {
    overflow: hidden;
}

@media (max-width: 767px) {
    .header {
        &__logo {
           div {
               span:last-child {
                   display: none;
               }
           }
        }
    }
    .nav {
        list-style-type: none;
        
        &-item {
            padding-left: 20px;
            position: relative;
            padding-bottom: 10px;
    
        }
        &-link {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 24px;
           
        }
        &-sub {
            list-style-type: none;
            &__link {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 24px;
         
            }
        }
    }
    .header {
        &__menu {
            &-icon {
                z-index: 8;
                display: block;
                position: relative;
                width: 30px;
                height: 18px;
                cursor: pointer;

                &::before,&::after,span {
                    
                    left: 0;
                    position: absolute;
                    height: 10%;
                    width: 100%;
                    transition: all 0.3s ease 0s;
                    background-color: #1072ff;
        
                }

                &::before,&::after {  
                    content: "";
                }
                &::before {
                    top: 0;
                }
                &::after {
                    bottom: 0;
                }
                span {
                    top: 50%;
                    transform: scale(1) translate(0px, -50%);
                }    
                -activ {
                    left: 0;
                }  
            }
            &-body {
                top: 0;
                left: -100%;
                height: 100%;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.904);
                position: absolute;
                padding: 100px 30px 30px 30px;
                box-sizing: border-box;
                transition: left 0.3s ease 0s;
                z-index: 6;
                overflow: auto;
            }
        }
        .menu__body-activ .nav-arrow {
            display: none;
        }
        .nav {
            list-style-type: none;   
            
            &-item {
                
                position: relative;
                padding-bottom: 10px;
                display: block;
				
				&-textWrapper {
					display: flex;
					flex-direction: column;
					.contact-person {
						color: #000;
					}
					.contact-telephone {
						color: #000;
					}
				}
            }
            &-link {
                text-decoration: none;
                color: $dark;
            }
            &-sub {
                position:relative;
                list-style-type: none;
                padding: 0;
                margin: 0;
                margin-left: 20px;
              
            
                padding: 15px;
                right: 0;

                opacity: 1 !important;
                visibility: inherit;
                transition: all 0.3s ease 0s;
                pointer-events: none;
                z-index: 5;
                position: initial;
        
                &__item {
                    
                    margin: 0 0 10px 0;
                   
                    &:last-child {
                    
                        margin: 0 0 0 0;
                    }
                }
        
                &__link {
                    text-decoration: none;
                    color: $dark;
                }
            }
			.disappearable {
				display: block;
			}
        }
    }
    .menu__body-activ {
        left: 0 !important;

        
    }
    .menu__icon-activ {
        color: $light ;
        &::before {
            top: 50% !important;
            transform: rotate(-45deg) translate(0px, -50%) !important;
        }
        span {
            transform: scale(0) translate(0px, -50%);
        }
        &::after {
            bottom: 50% !important;
            transform: rotate(45deg) translate(0px, 50%) !important;
        }
    }
}


@media (min-width: 767px) {
    .header {
        transition: all 0.3s ease 0s;
    }

    
    .nav {
        display: flex;
        list-style-type: none;
        align-items: center;
        transition: all 0.3s ease 0s;
        
		.disappearable{
			display: none;
		}

        &-item {
            padding-left: 20px;
            position: relative;
            padding-bottom: 10px;
    
        }
        &-link {
            text-decoration: none;
            color: rgb(255, 255, 255);
            border-bottom: 1px solid transparent;
            transition: 0.4s;
            &:hover {
                border-bottom: 1px solid rgb(255, 255, 255);
                transition: 0.4s;
            }
        }
        &-sub {
            position: absolute;
            list-style-type: none;
            padding: 0;
            margin: 0;
            z-index: 5;
            top: 100%;
            background-color: $dark;
            min-width: 200px;
            padding: 15px;
            right: 0;
    
            transform: translate(0, 0%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;
            pointer-events: none;
            
    
            &__item {
                
                margin: 0 0 10px 0;
               
                &:last-child {
                
                    margin: 0 0 0px 0;
                }
            }
    
            &__link {
                text-decoration: none;
                color: $light;
    
                border-bottom: 2px solid transparent;
                transition: 0.4s;
                &:hover {
                    border-bottom: 2px solid rgb(255, 255, 255);
                    transition: 0.4s;
                }
            }
        }
    }
}
.MenuBurger {
    background-color: azure;
    width: 70%;
    height: 100%;
    position: absolute;
    position: fixed;
    z-index: 250;
    right: 0;
    top: 140px;
}
._lock {
    overflow: hidden !important;
}