@import "adaptiveMexinFonts.scss";

$dark : #22222b;
$light : #faf9fe;
$text:#7f7f82;
$Backgray : #ebe9e9;
$background: #F4F2F5;
$accent: #1071FF;
$soft: #FCFCFA;

body {
    background-color: black;
    margin: 0;
    padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	a {
		text-decoration: none;
		color: $light;
		&:hover {
			color: #FFF;
			text-decoration: underline;
		}
		&:visited {
			color: $light;
		}
	}
}
.dis {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
hr {
	width: 99.6%;
}
.wrapper {

    max-width: 1200px;
    margin: 0 auto;
	width: 100%;

}
.text-center {
    text-align: center;
    color: rgb(255, 255, 255);
}
.title-h2 {
    text-decoration: none;
    @include adaptiv-font (35, 28);
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 45px;
    /* font-weight: 700; */
    letter-spacing: 0.5px;
}
@import "slider.scss";
@import "footer.scss";
/// SectionHeader ///
@import "header.scss";
/// ____________________________________ ///

.sectionAdvertisingSlider {
    .card {
        background-color: lightgreen;
        min-width: 100px;
        min-height: 100px;
    }
}
.gird-adventing {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-row: 200px;
}
.section-contact {
    background-image: url(../img/2a1ee2_ad7511e40c5546de9b69b70cc1ffa401_mv2.webp);
    background-position: center;
    box-sizing: border-box;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}
//----------------Shop-----------------//
.section-filters {
	.filters {
		&GridWrapper {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(345px, 345px));
			justify-items: center;
			justify-content: center;
			column-gap: 10px;
			.materialWrapper {
				height: 100%;
				width: 100%;
				p {
					display: inline-block;
					width: fit-content;
					margin: 0;
				}
				label {
					color: #FFF;
				}
				.checkboxesWrapper {
					width: fit-content;
					display: inline-block;
					margin-right: 10px;
					* {
						margin: 10px 0;
					}
				}
			}
		}
		&_form {
			max-width: 1000px;
			margin: 0 auto;
			p {
				color: #FFF;
			}
			.apply_filters_button {
				min-width: 340px;
				max-width: 440px;
				margin: 15px auto;
				display: block;
			}
			.filtersWrapper {
				display: grid;
				grid-template-columns: 130px minmax(100px, 300px);
				grid-template-rows: repeat(1, 50px);
				grid-template-rows: 26px;
				height: 50px;
				align-content: space-between;
				justify-content: center;
				align-items: baseline;
				// grid-template-rows: 1fr;
				// display: inline-block;
				p {
					width: 130px;
					height: 26px;
					display: inline-block;
				}
				input {
					display: inline-block;
					min-width: 140px;
					max-width: 100%;
					height: 20px;
				}
			}
		}
	}
}
.section-about {
    
    .wrapper {
        max-width: 1000px;
    }
    .card {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
        grid-template-rows:repeat(2, 1fr);
        grid-gap: 20px 20px;
        padding: 10px;

        &__decription {
            color: $light;
        }
        &__item{
            display: grid;
            grid-auto-flow: row;
            grid-template: auto 1fr minmax(40px,auto)/ 1fr;
            //overflow: hidden;
            //background-image: url(../img/clock/2a1ee2_b7d9e76fb7ed4bafa73e7ec7f246d8d7_mv2.webp);
        }
        

        &__img {
            position: relative;
            padding: 0 0 100% 0;
            margin: 0 0 10px 0;
            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                //background-image: url(../img/clock/2a1ee2_b7d9e76fb7ed4bafa73e7ec7f246d8d7_mv2.webp);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                z-index: 2;
                transition: all 1s;
            }
            .img-back {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                //background-image: url(../img/clock/2a1ee2_b7d9e76fb7ed4bafa73e7ec7f246d8d7_mv2.webp);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                transition: all .3s;
                visibility: visible;
            }
        }
        &__btn{
            padding: 8px;
            margin-top: 10px;
            max-width: 35%;
            transition: all 1s;
            cursor: pointer;
            a {
                color: #ffffff;
                text-decoration: none;
            }
        }
        &__item:hover .img {
            transition: all .3s;
            //visibility: hidden !important;
            visibility: hidden !important;
            //z-index: 0 !important;
            // background-image: url(../img/clock/2a1ee2_6d0605a686e644269f03180a85bf6881_mv2.webp);
            
        }
        &__item:hover .card__btn {
            background-color: #ffffff;
            a {
                color: #000000;
            }

        }
            
    }
}

/// Section__Form ///

@import "emailForm.scss";

/// ______________Section_______________ ///

.section-decription {
    color: rgb(255, 255, 255);
	height: auto;
}

@media  (max-width: 821px) {
    .section-decription {
		height: auto;
    }
    .decription {
        display: block !important;
     
		&__img {
			max-width: 100% !important;
			display: block !important;
			min-width: 390px !important;
		}
		&__click {
			display: flex;
			height: 125px !important;
			cursor: pointer;
			width: 100% !important;
			justify-content: space-between !important;
		}
		&__item {
			height: auto !important;
			width: 100% !important;
			margin: 2px !important;
			overflow: hidden;
			img {
				height: auto !important;
				max-width: 100% !important;
				min-width: 64px !important;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				// display: inline-block !important;
				// vertical-align: middle !important;
				position: relative !important;
				top: 50% !important;
				left: 0 !important;
				transform: translate(0, -50%) !important;
				
			}
		}
		&__text {
			max-width: 100% !important;
		}
    }
}
.decription {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    // max-width: 900px;
    &__img {
		max-width: 60%;
		display: flex;
		min-width: 420px;
    }
    &__item {
      //  background-color: red;
        margin: 10px;
        height: auto;
        width: auto;
        img {
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
        }
    }
    &__show {
        height: 100%;
        width: 100%;
        img {
			height: auto;
			width: 100%;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
        }
    }

    &__click {
        height: 100%;
		width: 20%;
    }

    &__item-1 {
        background-color: red;
    }
    &__item-2 {
        background-color: green;
    }
    &__item-3 {
        background-color: pink;
    }

    &__text {
		max-width: 35%;
		margin: 10px;
		height: 100%;
    }

    &__title {
		@include adaptiv-font (30, 20);
    }

    &__price {
		@include adaptiv-font (22, 14);
		margin: 15px 0;
    }

    &__body {
		@include adaptiv-font (22, 14);
		margin: 15px 0;
    }
	&__material {
		@include adaptiv-font (22, 14);
		margin: 15px 0;
	}
}

//-------------------Comments--------------------//
.commentsWrapper {
    background-color: #222;
    border-radius: 10px;
	margin: 20px 3%;
}
.newComment-form {
	margin-top: 20px;
	color: #FFF;
	p {
		margin: 0;
		display: inline-block;
		@include adaptiv-font (22, 14);
	}
	.flexWrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		p {
			width: 30%;
		}
		textarea {
			display: inline-block;
			width: 70%;
			height: 76px;
			resize: vertical;
		}
	}
	input {
		display: inline-block;
		width: 100%;
		height: 21px;
		margin-top: 10px;
	}
	.simple-rating {
		position: relative;
		font-size: 40px;
		display: inline-block;
		&::before {
			content: "★★★★★";
			display: block;
			position: absolute;
		}
		&__items {
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: row-reverse;
			overflow: hidden;
		}
		&__item {
			position: absolute;
			width: 0%;
			height: 0%;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			&:checked,
			&:checked ~ .simple-rating__label {
				color: #FFF;
			}
		}
		&__label {
			flex: 0 0 20%;
			height: 100%;
			cursor: pointer;
			color: gray;
			&::before {
				content: "★";
				display: block;
				transition: color 0.3s ease 0s;
			}
			&:hover, 
			&:hover ~ .simple-rating__label,
			&:checked ~ .simple-rating__label:hover {					
				color: #FFF !important;
			}
		}
	}
}
.comment {
	color: #FFF;
	position: relative;
	.user {
		.login {
			display: inline-block;
			margin-top: 5px;
			margin-left: 15px;
			@include adaptiv-font (22, 14);
		}
		.date {
			display: inline-block;
			margin-top: 5px;
			@include adaptiv-font (14, 10);
		}
	}
	&__text {
		margin-left: 15px;
		.text {
			width: 98%;
			display: block;
			@include adaptiv-font (22, 14);
		}
		p {
			display: inline-block;
			@include adaptiv-font (20, 14);
		}
		.simple-rating {
			position: relative;
			font-size: 25px;
			display: inline-block;
			&::before {
				content: "★★★★★";
				display: block;
				position: absolute;
			}
			&__items {
				position: relative;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: flex;
				flex-direction: row-reverse;
				overflow: hidden;
			}
			&__item {
				position: absolute;
				width: 0%;
				height: 0%;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				&:checked,
				&:checked ~ .simple-rating__label {
					color: #FFF;
				}
			}
			&__label {
				flex: 0 0 20%;
				height: 100%;
				cursor: pointer;
				color: gray;
				pointer-events: none;
				&::before {
					pointer-events: none;
					content: "★";
					display: block;
					transition: color 0.3s ease 0s;
				}
				// &:hover, 
				// &:hover ~ .simple-rating__label,
				// &:checked ~ .simple-rating__label:hover {					
				// 	color: #FFF !important;
				// }
			}
		}
	}
	.comment__deleteForm {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		.deleteXBtn {
			position: absolute;
			right: 0;
			width: 40px;
			height: 40px;
			border: 0px;
			border-top-right-radius: 10px;
		}
	}
}

._touch {
    @media (max-width: 428px)  {
        .section-about {
            .card__item {
                grid-template: auto 1fr minmax(0px, auto)/1fr;   
                background-color: #222222;
                a {
                    text-decoration: none !important;
                }
                .card__btn {
                    display: none;
                }
                .card__decription {
                    display: flex;
                    justify-content: space-between;
                    @include adaptiv-indentation("font-size", 25, 18, 0);
                    
                    margin: 15px;
    
                }
            }
        }
        .section-about .card__img .img  {
            width: 100%;
            // margin: 5px;
        }
    }
    @media (min-width: 428px)  {
        .section-about {
            .card__item {
                grid-template: auto 1fr minmax(40px, auto)/1fr;   
                background-color: #222222;
                a {
                    text-decoration: none !important;
                }
                .card__btn {
                    display: none;
                }
                .card__decription {
                    //display: flex;
                    //justify-content: space-between;
                    //@include adaptiv-indentation("font-size", 25, 18, 0);
                    
                    margin: 15px;
    
                }
            }
        }
        .section-about .card__img .img  {
            width: 100%;
            // margin: 5px;
        }
    }
}
.backwardButton {
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	// border-radius: 20px;
	height: 40px;
	background-color: rgb(220, 220, 220);
	display: block;
	position: relative;
	z-index: 1;
	// border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	&:hover {
		color: #FFF !important;
		background-color: transparent;
		text-shadow: none;
	}
	&:hover:before {
		bottom: 0%;
		top: auto;
		height: 100%;
	}
	&:before {
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		height: 0px;
		width: 100%;
		z-index: -1;
		content: '';
		color: #000 !important;
		background: rgb(90, 90, 90);
		transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}

	p {
		line-height: normal;
		vertical-align: middle;
		font-size: 20px;
		text-align: center;
		margin: 0px;
	}
}

.number {
    display: none;
}
.number-activ {
    display: block;
    color: #222222;
}

//remove phones from mobile version
._touch  {
	.phone { 
		display :none !important;
	}	
} 