@import "adaptiveMexinFonts.scss";

$dark : #22222b;
$light : #faf9fe;
$text:#7f7f82;
$Backgray : #ebe9e9;
$background: #F4F2F5;
$accent: #1071FF;
$soft: #FCFCFA;

body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.wrapper {

    max-width: 1200px;
    margin: 0 auto;

}
.text-center {
    text-align: center;
    color: rgb(255, 255, 255);
}
.title-h2 {
    text-decoration: none;
    @include adaptiv-font (35, 28);
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 45px;
    /* font-weight: 700; */
    letter-spacing: 0.5px;
}
@import "slider.scss";
@import "footer.scss";
/// SectionHeader ///
@import "header.scss";
/// ____________________________________ ///

.sectionAdvertisingSlider {
    .card {
        background-color: lightgreen;
        min-width: 100px;
        min-height: 100px;
    }
}
.gird-adventing {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-row: 200px;
}
.section-contact {
    background-image: url(../img/2a1ee2_ad7511e40c5546de9b69b70cc1ffa401_mv2.webp);
    background-position: center;
    box-sizing: border-box;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}
.section-about {
    
    .wrapper {
        max-width: 1000px;
    }
    .card {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
        grid-template-rows:repeat(2, 1fr);
        grid-gap: 20px 20px;
        padding: 10px;

        &__decription {
            color: lightyellow;
        }
        &__item{
            display: grid;
            grid-auto-flow: row;
            grid-template: auto 1fr minmax(40px,auto)/ 1fr;
            //overflow: hidden;
            //background-image: url(../img/clock/2a1ee2_b7d9e76fb7ed4bafa73e7ec7f246d8d7_mv2.webp);
        }
        

        &__img {
            position: relative;
            padding: 0 0 100% 0;
            margin: 0 0 10px 0;
            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                //background-image: url(../img/clock/2a1ee2_b7d9e76fb7ed4bafa73e7ec7f246d8d7_mv2.webp);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                z-index: 2;
                transition: all 1s;
            }
            .img-back {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                //background-image: url(../img/clock/2a1ee2_b7d9e76fb7ed4bafa73e7ec7f246d8d7_mv2.webp);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                transition: all .3s;
                visibility: visible;
            }
        }
        &__btn{
            padding: 8px;
            margin-top: 10px;
            max-width: 35%;
            transition: all 1s;
            cursor: pointer;
            a {
                color: #ffffff;
                text-decoration: none;
            }
        }
        &__item:hover .img {
            transition: all .3s;
            //visibility: hidden !important;
            visibility: hidden !important;
            //z-index: 0 !important;
            // background-image: url(../img/clock/2a1ee2_6d0605a686e644269f03180a85bf6881_mv2.webp);
            
        }
        &__item:hover .card__btn {
            background-color: #ffffff;
            a {
                color: #000000;
            }

        }
            
    }
}

/// Section__Form ///

@import "emailForm.scss";

/// ______________Section_______________ ///

.section-decription {
    color: rgb(255, 255, 255);
    height: 82vh;
}

@media  (max-width: 675px) {
    .section-decription {
        height: 100%;
    }
    .decription {
        display: block !important;
     
    }
    .decription__img {
        width: 100% !important;
        display: block !important;
    }
    .decription__click {
        display: flex;
        height: 125px !important;
        cursor: pointer;
    }
    .decription__item {
        height: 100px !important;
        width: 100px !important;
    }
}
.decription {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    max-width: 900px;
    &__img {
       
        width: 60%;
        display: flex;
    }
    &__item {
      //  background-color: red;
        margin: 10px;
        height: 50px;
        width: 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__show {
        height: 100%;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__click {
        height: 100%;
    }

    &__item-1 {
        background-color: red;
    }
    &__item-2 {
        background-color: green;
    }
    &__item-3 {
        background-color: pink;
    }

    &__text {
        max-width: 300px;
        margin: 10px;
    }

    &__title {

    }

    &__price {

    }

    &__body {

    }
}

._touch {
    @media (max-width: 428px)  {
        .section-about {
            .card__item {
                grid-template: auto 1fr minmax(0px, auto)/1fr;   
                background-color: #222222;
                a {
                    text-decoration: none !important;
                }
                .card__btn {
                    display: none;
                }
                .card__decription {
                    display: flex;
                    justify-content: space-between;
                    @include adaptiv-indentation("font-size", 25, 18, 0);
                    
                    margin: 15px;
    
                }
            }
        }
        .section-about .card__img .img  {
            width: 97%;
            margin: 5px;
        }
    }
    @media (min-width: 428px)  {
        .section-about {
            .card__item {
                grid-template: auto 1fr minmax(40px, auto)/1fr;   
                background-color: #222222;
                a {
                    text-decoration: none !important;
                }
                .card__btn {
                    display: none;
                }
                .card__decription {
                    //display: flex;
                    //justify-content: space-between;
                    //@include adaptiv-indentation("font-size", 25, 18, 0);
                    
                    margin: 15px;
    
                }
            }
        }
        .section-about .card__img .img  {
            width: 97%;
            margin: 5px;
        }
    }
}

.number {
    display: none;
}
.number-activ {
    display: block;
    color: #222222;
}

//remove phones from mobile version
._touch  {
	.phone { 
		display :none !important;
	}	
} 